
.testDiv{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 10px;
}

.light{
    height: 100px;
    width: 100px;
    border: 1.5px solid black;
    background-color: white;
}
.dark{
    height: 100px;
    width: 100px;
    border: 1.5px solid black;
    background-color: black;
}
